숫자형

In [2]:
7/4

1.75

In [4]:
7//4

1

In [ ]:
7%4

3

문자열 자료형

In [15]:
# 문자열에 작은따옴표 포함시키기 
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [16]:
# 문자열에 큰따옴표 포함시키기 
say = '"Python is very easy." he says.'
print(say)

"Python is very easy." he says.

In [11]:
# 백슬래시를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함시키기 
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food, say)

Python's favorite food is perl "Python is very easy." he says.

In [ ]:
# 여러 줄인 문자열 
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [18]:
# 여러 줄인 문자열 - 큰따옴표3개 or 작은따옴표3개 
multiline = '''
            Life is too short
            You need python
            '''
print(multiline)

            Life is too short
            You need python

이스케이프 코드 : 문자조합 
- \\ : 문자 \를 그대로 표현할때
- \' or \" : 큰따옴표, 작은따옴표를 그대로 표현할때 
- \r : 캐리지 리턴 : 줄바꿈 문자, 현재 커서를 가장 앞으로
- \f : 폼 피드 : 줄바꿈 문자, 현재 커서를 다음 줄로 이동 
- \a : 벨소리 
- \b : 백스페이스 
- \000 : 널 문자

In [21]:
# 문자열 곱하기 
a = "python"
a = a * 2
print(a)

# 문자열 길이 구하기 
len(a)

pythonpython

12

In [23]:
# 문자열 인덱싱 
a = "Life is too short, You need Python"
print(a[0])
print(a[12])
print(a[-1])
print(a[-0])

L
s
n
L

In [29]:
# 문자열 슬라이싱 
print(a[0:4])
print(a[0:5]) # 공백문자도 일반 문자와 동일하게 취급
print(a[:17])

Life
Life
Life is too short

In [30]:
# Pithon -> Python 
a = "Pithon"
a[0] + 'y' + a[2:]

# 문자열 자료형은 그  요소값을 변경할 수  없다.

'Python'

3/13

In [2]:
# 문자열 포매팅 : 문자열 안의 특정한 값을 바꿔야 할 경우 
"I eat %d apples."%3 
"I eat %s apples." % "five"

'I eat five apples.'

In [3]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [4]:
number = 10 
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [5]:
# 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다
"Error is %d%%." % 98

'Error is 98%.'

In [6]:
"%10s" % "hi"
# 전체 길이가 10개인 문자열 공간에서 
# 대입되는 값을 오른쪽으로 정렬하고 
# 그 앞의 나머지는 공백으로 남겨둬라

'        hi'

In [7]:
"%-10sjane." % 'hi'
# 왼쪽 정렬

'hi        jane.'

In [10]:
"%0.4f" % 3.4134234
# 소수점 표현하기 
# "." : 소수점 포인트 
# "4" : 소수점 뒤에 나올 숫자의 개수

'3.4134'

In [11]:
"%10.4f" % 3.42134234
# 소수점 4번째 자리까지만 표시하고 
# 전체 길이가 10개인 문자열 공간에서 오른쪽 정렬

'    3.4213'

In [12]:
# 문자열 format 함수 
"I eat {0} apples".format(3)

'I eat 3 apples'

In [13]:
"I eat {0} apples".format("five")

'I eat five apples'

In [14]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [15]:
number = 10 
day = "three"
"I ate {0} apples. so I was sick for {1} days".format(number,day)

'I ate 10 apples. so I was sick for three days'

In [16]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [18]:
"I ate {0} apples. so I was sick for {day} days".format(10, day=3)

# 혼용 가능₩

'I ate 10 apples. so I was sick for 3 days'

In [20]:
"{0:10}".format("hi")
# 문자열을 왼쪽으로 정렬하고 
# 문자열의 총 자릿수를 10으로

'hi        '

In [21]:
"{0:>10}".format("hi")
# 오른쪽 정렬

'        hi'

In [24]:
"{0:^10}".format("hi")
# 가운데 정렬

'    hi    '

In [25]:
# 정렬할 때 공백 대신에 지정한 문자 값으로 채워 넣기 
# 문자 : "<, >, ^"
# < : 왼쪽 
# > : 오른쪽
# ^ : 가운데 

a = "{0:=^10}".format("hi")
b = "{0:!<10}".format("hi")

print(a, b)

====hi==== hi!!!!!!!!

In [26]:
# 파이썬은 숫자 사이 언더바 가능 
a = 1_500_000
print(a)

1500000

In [27]:
원금 = 15_000_000 
이자 = 원금 * 0.0325 * 3 
세금 = 이자 * 0.154
print(원금 + 이자 - 세금)

16237275.0

In [1]:
# 소수점 표현하기 
y = 3.42134234 
"{0:0.4f}".format(y)

'3.4213'

In [2]:
# { 또는 } 문자 표현하기 
"{{ and }}".format()

'{ and }'

In [3]:
name = '홍길동'
age = 30 
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [4]:
age = 30 
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [5]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

# 문자열 관련 함수 (내장 함수)

#### 문자 개수 세기 count

In [6]:
a = "hobby"
a.count('b')

2

#### 위치 알려주기 find

In [8]:
a = "Python is the best choice"
a.find('b') # 처음 나온 위치 반환 
a.find('k') # 찾는 게 없으면 -1 반환

-1

#### 위치 알려주기 index 
(find와 다른 점 : 존재하지 않으면 오류 발생시킴)

In [9]:
a = "Life is too short"
a.index('t')

8

In [10]:
a.index('k')
# 존재하지 않으면 오류 발생

ValueError: substring not found

#### 문자열 삽입 (join)

In [11]:
",".join('abcd')

'a,b,c,d'

In [12]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

#### 소문자를 대문자로 바꾸기 upper

In [13]:
a = "hi"
a.upper()

'HI'

#### 대문자를 소문자로 바꾸기 lower

In [14]:
a = "HI"
a.lower()

'hi'

#### 왼쪽 공백 지우기 lstrip

In [15]:
a = " hi "
a.lstrip()

'hi '

#### 오른쪽 공백 지우기 rstrip

In [16]:
a.rstrip()

' hi'

#### 양쪽 공백 지우기 strip

In [17]:
a.strip()

'hi'

#### 문자열 바꾸기 replace

In [18]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

#### 문자열 나누기 split 
- 기본 : 공백을 기준으로 문자열을 나누어 줌 
- 나눠주고 리스트에 넣음

In [19]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [20]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [5]:
Radius = 15 
Length = 2 * Radius *3.14
Area = Radius * Radius *3.14

print("Radius: ", Radius)
print("Length: ", Length)
print("Area: ", Area)

Radius:  15
Length:  94.2
Area:  706.5